<h1>Входные данные</h1>
{% for item in data.input %}
{% if loop.first %}
<form action="/ajax/" method="post" onsubmit="window.Template().put(this, null, $(this).parent()); return false;">
	<table cellpadding="4">
{% endif %}
		<tr>
			{% if form %}
				{% set name=form+'['+item.name+']' %}
			{% else %}
				{% set name=item.name %}
			{% endif %}
			<td style="text-align: right; font-style: italic;">
				{{ item.info }}
			</td>
			<td style="text-align: right">
				<label for="{{ item.name }}">{{ item.caption }}=</label>
			</td>
			<td>
				<input type="{{ item.type }}" name="{{ name }}" id="{{ item.name }}" value="{{ item.value }}"/>
			</td>
		</tr>
{% if loop.last %}
		<tr>
			<td colspan="3" style="text-align: right;">
				<input type="submit" value="Отправить"/>
			</td>
		</tr>
	</table>
</form>
{% endif %}
{% endfor %}